{% extends "base.html" %}

{% block content %}
<div id="topcontainer">
	{% if success %}
	<div class="rankcontainer">
		{% for profile in accountProfiles %}
		{% include "rank_item.html" %}
		{% endfor %}
	</div>
	{% else %}
		Couldn't get the data.
	{% endif %}
</div>
{% endblock %}
