		<div class="rankbox">
			<div class="top_info">

				<div id="avatar">
					<div id="avatarpicture"></div>
				</div>

				<div id="username">
					<a href="http://steamcommunity.com/profiles/{{ profile.steamId }}/"><p>{{ profile.playerName }}</p></a>
				</div>

				<div id="commends">
					<ul>
						<li id="friendly"><p>{{ profile.commendation.cmdFriendly }}</p></li>
						<li id="teacher"><p>{{ profile.commendation.cmdTeaching }}</p></li>
						<li id="leader"><p>{{ profile.commendation.cmdLeader }}</p></li>
					<ul>
				</div>
				<div id="badges">
					<a href="#" class="control_prev"></a>
					<a href="#" class="control_next"></a>
					<ul>
						<li id="medal_phoenix_3"></li>
						<li id="medal_phoenix_1"></li>
						<li id="medal_team_2"></li>
						<li id="medal_combat_2"></li>
						<li id="medal_weapon_2"></li>
						<li id="medal_global_1"></li>
						<li id="medal_arms_2"></li>
					</ul>

				</div>
			</div>
			<div class="bottom_info">
				{% if profile.ranking %}
				<div id="rank">
					<img src="/csgo/static/img/medals/medals_{{ profile.ranking.rankId }}.png"><p>{{ profile.ranking.rankName }}</p>
				</div>
				
				<div id="wins">
					<img src="/csgo/static/img/wins.png"/><p>{{ profile.ranking.wins }}</p>
				</div>
				{% endif %}
			</div>
		</div>